  @import url("https://use.typekit.net/vsb3pbo.css");

  :root {
      --bg-color: #62D7C5;
      --link-color: #FFFFFF;
      --link-hover-color: ;
      --pink-color: #FF0760;

      --primary-font: 'objektiv-mk1', sans-serif;
      --main-text-color: #000000;

      --white-space: 1.2rem;
  }


  body {
      background-color: var(--bg-color);
      font-family: var(--primary-font);
  }

nav {
    margin-top: 2rem;
}

  nav ul {
      list-style-type: none;
      display: flex;
      justify-content: left;
  }

  a {
      color: var(--link-color);
      text-decoration: none;
      list-style-type: none;
      padding: 1.5rem;
  }

  a:hover {
      font-size: 27px;
      transition: .5s;
      text-decoration: underline;
}

a:active {
    text-decoration: underline;
}



main {
    margin: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title1 title2"
        ".pictures";
}

.team {
    grid-area: title1;
    color: var(--link-color);
}

.contact-us {
    grid-area: title2;
    color: var(--link-color);
}


.pictures {
    grid-area: pic;
/*
    display: flex;
    justify-content: ;
*/
}



