/*  @import url("https://use.typekit.net/vsb3pbo.css");*/

:root {
    --bg-color: #62D7C5;
    --link-color: #FFFFFF;
    --link-hover-color: ;
    --pink-color: #FF0760;

    --primary-font: 'objektiv-mk2', sans-serif;
    --main-text-color: #000000;

    --white-space: 1.2rem;
}


body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 18px;
}

/*STYLING NAVIGATION*/

nav {
    margin-top: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    font-weight: 500;
}

a {
    color: var(--link-color);
    text-decoration: none;
    list-style-type: none;
    padding: 1.5rem;
}

a:hover {
    font-size: 27px;
    transition: .5s;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}





/*HEADING STYLING*/
h2 {
    font-weight: 300;
    font-size: 18px;
}

.team {
    grid-area: title1;
    color: var(--link-color);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.contact-us {
    grid-area: title2;
    color: var(--link-color);
    margin-bottom: 0;
}




.team-container {
    grid-area: pic;
    margin-bottom: 2rem;
}

.team-pictures {
    display: flex;
    flex-wrap: wrap;
}

.questions-text {
    grid-area: txt;
}


/*FORM*/
input {
    font: var(--primary-font);
    font-size: 18px;
    border-radius: 1.5rem;
    padding: .8rem;
    border-style: none;
}

button {
    width: 8rem;
    height: 2.5em;
    background-color: var(--pink-color);
    border-radius: 1.5rem;
    color: white;
    font: var(--primary-font);
    font-weight: 550;
    border-style: none;
    cursor: pointer;
    margin-top: 2rem;
}


/*MOBILE VIEW*/
@media only screen and (max-width: 599px) {

    main {
        margin: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title1"
            "pic"
            "title2"
            "txt";
    }

    .img-team {
        width: 8rem;
        height: auto;
        padding-right: .5rem;
        padding-bottom: .5rem;
    }

    .line {
        border-bottom: 2px solid;
        color: var(--link-color);
        width: 100%;
        height: 2%;
        margin-bottom: 2rem;
    }

    .questions-text {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 25px;
    }

/*    FORM STYLING*/
    input {
        width: 100%;
    }

    .input-question {
        width: 100%;
        height: 7rem;
    }

    button {
        margin-left: 75%;
        margin-top: 2%;
    }
}

/*TABLET VIEW */

@media only screen and (max-width: 899px) and (min-width: 600px) {
    main {
        margin: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title1"
            "pic"
            "title2"
            "txt";
    }

    .img-team {
        display: flex;
        flex-direction: row;
        width: 22vw;
        height: auto;
        padding-right: .5rem;
        padding-bottom: .5rem;

    }

    .line {
        border-bottom: 2px solid;
        color: var(--link-color);
        width: 80%;
        height: 2%;
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 25px;
    }


/*FORM STYLING*/
    input {
        width: 90%;
    }

    .input-question {
        width: 90%;
        height: 7rem;
    }

}



/*BIG SCREEN*/
@media only screen and (min-width: 900px) {

    main {
        margin: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title1 title2"
            "pic txt";
    }

    .img-team {
        width: 12vw;
        height: auto;
        padding-right: .5rem;
        padding-bottom: .5rem;

    }

    .questions-text {
        margin-bottom: 2rem;
        margin-right: 8rem;
    }

    .contact-us {
        margin-bottom: 0;
        margin-right: 6rem;
    }

    .line {
        border-bottom: 2px solid;
        color: var(--link-color);
        width: 80%;
        height: 2%;
        margin-bottom: 2rem;

    }

    input {
        width: 75%;
    }

    .input-question {
        width: 80%;
        height: 7rem;
    }

    button {
        margin-left: 65%;
        margin-top: 4%;
    }

}
