 :root {
     --bg-color: #62D7C5;
     --link-color: #FFFFFF;
     --link-hover-color: ;
     --pink-color: #FF0760;

     --primary-font: 'objektiv-mk2', sans-serif;
     --main-text-color: #000000;

     --white-space: 1.2rem;
 }

 body {
     background-color: var(--bg-color);
     font-family: var(--primary-font);
     font-weight: 300;
 }

 nav {
     margin-top: 2rem;
 }

 nav ul {
     list-style-type: none;
     display: flex;
     justify-content: left;
     font-weight: 500;
     font-size: 1rem;
 }

 a {
     color: var(--link-color);
     text-decoration: none;
     list-style-type: none;
     padding: 1.5rem;
 }

 a:hover {
     font-size: 27px;
     transition: .5s;
     text-decoration: underline;
 }

 .icon-mail {
     grid-area: ic;
     width: 1.5rem;
     height: auto;
 }

 .icon-phone {
     grid-area: ic2;
     width: 1.5rem;
     height: auto;
 }

 .cherry-info {
     grid-area: info;
     margin-top: 1rem;
 }

 .phone-info {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: -1rem;
 }

 .cherry-info p {
     margin-left: 1rem
 }

 .mail-info {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .logo {
     grid-area: logo;
     width: auto;
     height: 7rem;
 }

 .cherry-address {
     grid-area: ad;
     margin-top: 1rem;
 }

 .cherry-address p {
     max-width: 300px;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 footer {
     padding-left: 4rem;
     padding-right: 4rem;
     padding: 1rem;
     display: flex;
     justify-content: space-around;
     background-color: var(--link-color);
     width: auto;
 }



 /*MOBILE VIEW*/
 @media only screen and (max-width: 599px) {
     .hidden {
         display: none;
     }

     footer {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-areas:
             "info"
             "ad";
     }

     .cherry-address {
         justify-self: center;
         max-width: 250px;

     }

     .cherry-info {
         justify-self: center;
     }

 }

 @media only screen and (max-width: 899px) and (min-width: 600px) {
     .hidden {
         display: none;
     }
 }
